<section>
  <h2>Admin Overview</h2>
  <div class="card">

    <a class="create-button" href="/admin/create-user">+ Create new user</a>
    <a class="create-button" href="/admin/create-subject">+ Create new subject</a>

    <h2>Users</h2>
    <table class="table-style">
      <thead>
       <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
       </tr>
      </thead>
      <tbody>
       {{#each users}}
       <tr>
          <td>{{ this.name }}</td>
          <td>{{ this.email }}</td>
          <td>{{ this.role }}</td>
       </tr>
       {{/each}}
      </tbody> 
    </table>

    <h2>Sessions</h2>
    {{#if sessions.length}}
  <table class="table-style">
    <thead>
      <tr>
        <th>Tutor</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each sessions}}
        <tr>
          <td>{{tutorName}}</td>
          <td>{{subject}}</td>
          <td>{{date}}</td>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>{{status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No booked sessions yet.</p>
{{/if}}


  <h2>Subjects</h2>
    <table class="table-style">
      <thead>
       <tr>
          <th>Name</th>
          <th>Code</th>
       </tr>
       </thead>
       <tbody>
       {{#each subjects}}
       <tr>
          <td>{{ this.name }}</td>
          <td>{{ this.code }}</td>
       </tr>
       {{/each}}
       </tbody>
    </table>
</section>
